In [1]:
import os
import sys
sys.path.insert(0, '/Users/jennifercyc/Desktop/HSH/ML Project/fraud-detector/src')
from preprocessing import clean_data, remove_outliers_iqr, check_class_ratio

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("/Users/jennifercyc/Desktop/HSH/ML Project/fraud-detector/data/Worksheet in Case Study question 2.xlsx")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 39 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_number                1000 non-null   int64
 3   policy_bind_date             1000 non-null   datetime64[ns]
 4   policy_state                 1000 non-null   object
 5   policy_csl                   1000 non-null   object
 6   policy_deductable            1000 non-null   int64
 7   policy_annual_premium        1000 non-null   float64
 8   umbrella_limit               1000 non-null   int64
 9   insured_zip                  1000 non-null   int64
 10  insured_sex                  1000 non-null   object
 11  insured_education_level      1000 non-null   object
 12  insured_occupation           1000 non-null   object
 13  insured_hobbies              1000 non-null   object
 14  insured_relationship         1000 non-null   object
 15  capital-gains                1000 non-null   int64
 16  capital-loss                 1000 non-null   int64
 17  incident_date                1000 non-null   datetime64[ns]
 18  incident_type                1000 non-null   object
 19  collision_type               1000 non-null   object
 20  incident_severity            1000 non-null   object
 21  authorities_contacted        909 non-null    object
 22  incident_state               1000 non-null   object
 23  incident_city                1000 non-null   object
 24  incident_location            1000 non-null   object
 25  incident_hour_of_the_day     1000 non-null   int64
 26  number_of_vehicles_involved  1000 non-null   int64
 27  property_damage              1000 non-null   object
 28  bodily_injuries              1000 non-null   int64
 29  witnesses                    1000 non-null   int64
 30  police_report_available      1000 non-null   object
 31  total_claim_amount           1000 non-null   int64
 32  injury_claim                 1000 non-null   int64
 33  property_claim               1000 non-null   int64
 34  vehicle_claim                1000 non-null   int64
 35  auto_make                    1000 non-null   object
 36  auto_model                   1000 non-null   object
 37  auto_year                    1000 non-null   int64
 38  fraud_reported               1000 non-null   object
dtypes: datetime64[ns](2), float64(1), int64(17), object(19)
memory usage: 304.8+ KB

In [5]:
df_clean = clean_data(df, verbose = True)

Starting data cleaning...
Mapping target column 'fraud_reported' to binary...
Filling missing values...
Dropped 1 rows with inconsistent dates...
Finished cleaning...
Shape before cleaning: (1000, 39)
Shape after cleaning: (999, 40)

In [6]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 999 entries, 0 to 999
Data columns (total 40 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           999 non-null    int64
 1   age                          999 non-null    int64
 2   policy_number                999 non-null    int64
 3   policy_state                 999 non-null    object
 4   policy_csl                   999 non-null    object
 5   policy_deductable            999 non-null    float64
 6   policy_annual_premium        999 non-null    float64
 7   umbrella_limit               999 non-null    float64
 8   insured_sex                  999 non-null    object
 9   insured_education_level      999 non-null    object
 10  insured_occupation           999 non-null    object
 11  insured_hobbies              999 non-null    object
 12  insured_relationship         999 non-null    object
 13  capital-gains                999 non-null    float64
 14  capital-loss                 999 non-null    float64
 15  incident_date                999 non-null    datetime64[ns]
 16  incident_type                999 non-null    object
 17  collision_type               999 non-null    object
 18  incident_severity            999 non-null    object
 19  authorities_contacted        999 non-null    object
 20  incident_state               999 non-null    object
 21  incident_city                999 non-null    object
 22  incident_location            999 non-null    object
 23  incident_hour_of_the_day     999 non-null    int64
 24  number_of_vehicles_involved  999 non-null    int64
 25  property_damage              999 non-null    object
 26  bodily_injuries              999 non-null    int64
 27  witnesses                    999 non-null    int64
 28  police_report_available      999 non-null    object
 29  total_claim_amount           999 non-null    float64
 30  injury_claim                 999 non-null    float64
 31  property_claim               999 non-null    float64
 32  vehicle_claim                999 non-null    float64
 33  auto_make                    999 non-null    object
 34  auto_model                   999 non-null    object
 35  auto_year                    999 non-null    int64
 36  fraud_reported               999 non-null    int64
 37  months_with_policy           999 non-null    int64
 38  incident_month               999 non-null    int32
 39  bind_year                    999 non-null    int32
dtypes: datetime64[ns](1), float64(9), int32(2), int64(10), object(18)
memory usage: 344.5+ KB

In [7]:
df_clean.describe()

,months_as_customer,age,policy_number,policy_deductable,policy_annual_premium,umbrella_limit,capital-gains,capital-loss,incident_date,incident_hour_of_the_day,...,witnesses,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_year,fraud_reported,months_with_policy,incident_month,bind_year
count,999.000000,999.000000,999.000000,999.000000,999.000000,9.990000e+02,999.000000,999.000000,999,999.000000,...,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000
mean,240.765766,38.934935,545989.906907,1136.136136,1256.689339,1.102102e+06,25100.800801,-26820.520521,2015-01-30 07:58:33.513513472,11.640641,...,1.485485,52763.613614,7432.992993,7399.109109,37931.511512,2005.105105,0.247247,157.659660,1.495495,2001.590591
min,6.000000,19.000000,100804.000000,500.000000,433.330000,-1.000000e+06,0.000000,-111100.000000,2015-01-01 00:00:00,0.000000,...,0.000000,100.000000,0.000000,0.000000,70.000000,1995.000000,0.000000,0.000000,1.000000,1990.000000
25%,174.000000,32.000000,335913.500000,500.000000,1090.175000,0.000000e+00,0.000000,-51500.000000,2015-01-15 00:00:00,6.000000,...,1.000000,41775.000000,4290.000000,4440.000000,30275.000000,2000.000000,0.000000,82.000000,1.000000,1995.000000
50%,245.000000,38.000000,532330.000000,1000.000000,1257.360000,0.000000e+00,0.000000,-24100.000000,2015-01-31 00:00:00,12.000000,...,1.000000,58140.000000,6770.000000,6750.000000,42120.000000,2005.000000,0.000000,156.000000,1.000000,2002.000000
75%,290.000000,44.000000,758192.000000,2000.000000,1415.710000,0.000000e+00,51050.000000,0.000000,2015-02-15 00:00:00,17.000000,...,2.000000,70595.000000,11310.000000,10890.000000,50845.000000,2010.000000,0.000000,235.000000,2.000000,2008.000000
max,479.000000,64.000000,999435.000000,2000.000000,2047.590000,1.000000e+07,100500.000000,0.000000,2015-03-01 00:00:00,23.000000,...,3.000000,114920.000000,21450.000000,23670.000000,79560.000000,2015.000000,1.000000,305.000000,3.000000,2015.000000
std,93.983088,9.135518,257071.329343,612.155989,244.125331,2.298293e+06,27874.658249,28105.366259,NaN,6.954043,...,1.110859,26414.704027,4883.377920,4827.120746,18895.538780,6.018506,0.431628,89.437545,0.523716,7.351847

In [8]:
df_inliers, df_outliers = remove_outliers_iqr(df_clean)

In [9]:
check_class_ratio(df_inliers, df_outliers)

                Inliers Count  Outliers Count  Inliers %  Outliers %
fraud_reported
Not Fraud                 602             150      76.69       70.09
Fraud                     183              64      23.31       29.91

In [10]:
df_inliers.to_csv("../data/processed_inliers.csv", index=False)
df_outliers.to_csv("../data/processed_outliers.csv", index=False)