# Data Cleaning

### import pandas and data

In [6]:
import pandas as pd

In [7]:
df = pd.read_excel("/Users/jennifercyc/Desktop/HSH/ML Project/fraud-detector/data/Worksheet in Case Study question 2.xlsx")
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N

In [8]:
df["fraud_reported"].value_counts()

fraud_reported
N    753
Y    247
Name: count, dtype: int64

### check NaN values

In [9]:
#df.info()

#91 NaNs in column "authorities_contacted"

In [10]:
'''
for i in df.columns.tolist():
    print(f"{i}: {df[i].unique()[:10]}")
'''

'\nfor i in df.columns.tolist():\n    print(f"{i}: {df[i].unique()[:10]}")\n'

In [11]:
'''
for i in df.columns.tolist():
    print(f"{df[i].value_counts()}")
'''

'\nfor i in df.columns.tolist():\n    print(f"{df[i].value_counts()}")\n'

In [12]:
'''
for i in df.columns.tolist():
    print(f"{i}: {df[i].describe(include='all')}")
'''

'\nfor i in df.columns.tolist():\n    print(f"{i}: {df[i].describe(include=\'all\')}")\n'

### identify string columns (categorial or free-text)

In [13]:
unique_counts = df.select_dtypes(include=['object']).nunique()
unique_counts

policy_state                  3
policy_csl                    3
insured_sex                   2
insured_education_level       7
insured_occupation           14
insured_hobbies              20
insured_relationship          6
incident_type                 4
collision_type                4
incident_severity             4
authorities_contacted         4
incident_state                7
incident_city                 7
incident_location          1000
property_damage               3
police_report_available       3
auto_make                    14
auto_model                   39
fraud_reported                2
dtype: int64

## Data Cleaning - "Object" columns

### inspect for empty spaces or inconsistent capitalisation

In [14]:
'''
for i in df.select_dtypes(include=['object']):
    print(f"{i}: {df[i].unique()[:39]}")
'''

'\nfor i in df.select_dtypes(include=[\'object\']):\n    print(f"{i}: {df[i].unique()[:39]}")\n'

### handling missing values

In [15]:
df.select_dtypes(include=['object']).isna().sum()

policy_state                0
policy_csl                  0
insured_sex                 0
insured_education_level     0
insured_occupation          0
insured_hobbies             0
insured_relationship        0
incident_type               0
collision_type              0
incident_severity           0
authorities_contacted      91
incident_state              0
incident_city               0
incident_location           0
property_damage             0
police_report_available     0
auto_make                   0
auto_model                  0
fraud_reported              0
dtype: int64

In [16]:
df['authorities_contacted'] = df['authorities_contacted'].fillna('Unknown')

In [17]:
# Replace "?" with "Unknown" in categorical columns

df['collision_type'] = df['collision_type'].replace('?', 'Unknown')
df['property_damage'] = df['property_damage'].replace('?', 'Unknown')
df['police_report_available'] = df['police_report_available'].replace('?', 'Unknown')

In [18]:
# map Target Variable
df['fraud_reported'] = df['fraud_reported'].map({'Y': 1, 'N': 0})

## Data Cleaning - "Datetime" columns

### Check for invalid dates (NaT) in datetime columns

In [19]:
invalid_policy_dates = df[df['policy_bind_date'].isna()]
invalid_policy_dates

Empty DataFrame
Columns: [months_as_customer, age, policy_number, policy_bind_date, policy_state, policy_csl, policy_deductable, policy_annual_premium, umbrella_limit, insured_zip, insured_sex, insured_education_level, insured_occupation, insured_hobbies, insured_relationship, capital-gains, capital-loss, incident_date, incident_type, collision_type, incident_severity, authorities_contacted, incident_state, incident_city, incident_location, incident_hour_of_the_day, number_of_vehicles_involved, property_damage, bodily_injuries, witnesses, police_report_available, total_claim_amount, injury_claim, property_claim, vehicle_claim, auto_make, auto_model, auto_year, fraud_reported]
Index: []

[0 rows x 39 columns]

In [20]:
invalid_incident_dates = df[df['incident_date'].isna()]
invalid_incident_dates

Empty DataFrame
Columns: [months_as_customer, age, policy_number, policy_bind_date, policy_state, policy_csl, policy_deductable, policy_annual_premium, umbrella_limit, insured_zip, insured_sex, insured_education_level, insured_occupation, insured_hobbies, insured_relationship, capital-gains, capital-loss, incident_date, incident_type, collision_type, incident_severity, authorities_contacted, incident_state, incident_city, incident_location, incident_hour_of_the_day, number_of_vehicles_involved, property_damage, bodily_injuries, witnesses, police_report_available, total_claim_amount, injury_claim, property_claim, vehicle_claim, auto_make, auto_model, auto_year, fraud_reported]
Index: []

[0 rows x 39 columns]

## Data Cleaning - numerical columns

### column retyping

In [21]:
df['policy_number'] = df['policy_number'].astype(str)
df['insured_zip'] = df['insured_zip'].astype(str)

df['policy_deductable'] = df['policy_deductable'].astype(float)
df['umbrella_limit'] = df['umbrella_limit'].astype(float)
df['capital-gains'] = df['capital-gains'].astype(float)
df['capital-loss'] = df['capital-loss'].astype(float)
df['total_claim_amount'] = df['total_claim_amount'].astype(float)
df['injury_claim'] = df['injury_claim'].astype(float)
df['property_claim'] = df['property_claim'].astype(float)
df['vehicle_claim'] = df['vehicle_claim'].astype(float)

In [22]:
#df.info()

### handling invalid values

In [23]:
# negative values

for col in ['months_as_customer', 'policy_deductable', 'umbrella_limit', 'age', 'capital-gains', 'capital-loss', 
            'number_of_vehicles_involved', 'bodily_injuries', 'witnesses',
           'total_claim_amount', 'injury_claim', 'property_claim', 'vehicle_claim']:
    if (df[col] < 0).sum() != 0:
        print(col)

umbrella_limit
capital-loss

In [24]:
for i in df[df['umbrella_limit'] < 0].index:
    df.loc[i, 'umbrella_limit'] *= -1

df[df['umbrella_limit'] < 0]

Empty DataFrame
Columns: [months_as_customer, age, policy_number, policy_bind_date, policy_state, policy_csl, policy_deductable, policy_annual_premium, umbrella_limit, insured_zip, insured_sex, insured_education_level, insured_occupation, insured_hobbies, insured_relationship, capital-gains, capital-loss, incident_date, incident_type, collision_type, incident_severity, authorities_contacted, incident_state, incident_city, incident_location, incident_hour_of_the_day, number_of_vehicles_involved, property_damage, bodily_injuries, witnesses, police_report_available, total_claim_amount, injury_claim, property_claim, vehicle_claim, auto_make, auto_model, auto_year, fraud_reported]
Index: []

[0 rows x 39 columns]

In [25]:
# make sense that capital-loss is zero or negative value
# check for positive values instead
df[df['capital-loss'] > 0]['capital-loss']

Series([], Name: capital-loss, dtype: float64)

In [26]:
# logically, incident_date should not be earlier than policy_bind_date
df = df[df['policy_bind_date'] < df['incident_date']]

In [27]:
# calculate months_with_policy based on the dates
df['months_with_policy'] = ((df['incident_date'] - df['policy_bind_date']) / pd.Timedelta(days=30)).astype(int)

# Generally, months_as_customer should â‰¥ months_with_policy (calculated) -> fix the invalid values
df.loc[df['months_with_policy'] > df['months_as_customer'], 'months_as_customer'] = df['months_with_policy']

In [28]:
# drop datetime columns after calculation
df['bind_year'] = pd.to_datetime(df['policy_bind_date']).dt.year
df['incident_month'] = pd.to_datetime(df['incident_date']).dt.month
df = df.drop(columns=['policy_bind_date', 'incident_date'], errors='ignore')

In [29]:
#drop useless columns
df = df.drop(columns=['policy_number', 'insured_zip'], errors='ignore')

In [30]:
df.info()
df.shape
#999 rows left

<class 'pandas.core.frame.DataFrame'>
Index: 999 entries, 0 to 999
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           999 non-null    int64
 1   age                          999 non-null    int64
 2   policy_state                 999 non-null    object
 3   policy_csl                   999 non-null    object
 4   policy_deductable            999 non-null    float64
 5   policy_annual_premium        999 non-null    float64
 6   umbrella_limit               999 non-null    float64
 7   insured_sex                  999 non-null    object
 8   insured_education_level      999 non-null    object
 9   insured_occupation           999 non-null    object
 10  insured_hobbies              999 non-null    object
 11  insured_relationship         999 non-null    object
 12  capital-gains                999 non-null    float64
 13  capital-loss                 999 non-null    float64
 14  incident_type                999 non-null    object
 15  collision_type               999 non-null    object
 16  incident_severity            999 non-null    object
 17  authorities_contacted        999 non-null    object
 18  incident_state               999 non-null    object
 19  incident_city                999 non-null    object
 20  incident_location            999 non-null    object
 21  incident_hour_of_the_day     999 non-null    int64
 22  number_of_vehicles_involved  999 non-null    int64
 23  property_damage              999 non-null    object
 24  bodily_injuries              999 non-null    int64
 25  witnesses                    999 non-null    int64
 26  police_report_available      999 non-null    object
 27  total_claim_amount           999 non-null    float64
 28  injury_claim                 999 non-null    float64
 29  property_claim               999 non-null    float64
 30  vehicle_claim                999 non-null    float64
 31  auto_make                    999 non-null    object
 32  auto_model                   999 non-null    object
 33  auto_year                    999 non-null    int64
 34  fraud_reported               999 non-null    int64
 35  months_with_policy           999 non-null    int64
 36  bind_year                    999 non-null    int32
 37  incident_month               999 non-null    int32
dtypes: float64(9), int32(2), int64(9), object(18)
memory usage: 328.9+ KB

(999, 38)

### separating inliers and outliers

In [31]:
df[['months_as_customer', 'policy_deductable', 'umbrella_limit', 'age', 'capital-gains', 'capital-loss', 
            'number_of_vehicles_involved', 'bodily_injuries', 'witnesses',
           'total_claim_amount', 'injury_claim', 'property_claim', 'vehicle_claim']].describe()

,months_as_customer,policy_deductable,umbrella_limit,age,capital-gains,capital-loss,number_of_vehicles_involved,bodily_injuries,witnesses,total_claim_amount,injury_claim,property_claim,vehicle_claim
count,999.000000,999.000000,9.990000e+02,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000
mean,240.765766,1136.136136,1.104104e+06,38.934935,25100.800801,-26820.520521,1.838839,0.991992,1.485485,52763.613614,7432.992993,7399.109109,37931.511512
std,93.983088,612.155989,2.297331e+06,9.135518,27874.658249,28105.366259,1.019378,0.820538,1.110859,26414.704027,4883.377920,4827.120746,18895.538780
min,6.000000,500.000000,0.000000e+00,19.000000,0.000000,-111100.000000,1.000000,0.000000,0.000000,100.000000,0.000000,0.000000,70.000000
25%,174.000000,500.000000,0.000000e+00,32.000000,0.000000,-51500.000000,1.000000,0.000000,1.000000,41775.000000,4290.000000,4440.000000,30275.000000
50%,245.000000,1000.000000,0.000000e+00,38.000000,0.000000,-24100.000000,1.000000,1.000000,1.000000,58140.000000,6770.000000,6750.000000,42120.000000
75%,290.000000,2000.000000,0.000000e+00,44.000000,51050.000000,0.000000,3.000000,2.000000,2.000000,70595.000000,11310.000000,10890.000000,50845.000000
max,479.000000,2000.000000,1.000000e+07,64.000000,100500.000000,0.000000,4.000000,2.000000,3.000000,114920.000000,21450.000000,23670.000000,79560.000000

In [32]:
# Outlier Detection (Numerical Columns) -- IQR method

df_clean = df.copy()

iqr_columns = ['policy_annual_premium',
 'umbrella_limit',
 'capital-gains',
 'capital-loss',
 'total_claim_amount',
 'injury_claim',
 'property_claim',
 'vehicle_claim']

for col in iqr_columns:
    Q1 = df_clean[col].quantile(0.25)
    Q3 = df_clean[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    df_clean = df_clean[(df_clean[col] >= lower) & (df_clean[col] <= upper)]

df_clean.info()

#785 rows left

<class 'pandas.core.frame.DataFrame'>
Index: 785 entries, 0 to 999
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           785 non-null    int64
 1   age                          785 non-null    int64
 2   policy_state                 785 non-null    object
 3   policy_csl                   785 non-null    object
 4   policy_deductable            785 non-null    float64
 5   policy_annual_premium        785 non-null    float64
 6   umbrella_limit               785 non-null    float64
 7   insured_sex                  785 non-null    object
 8   insured_education_level      785 non-null    object
 9   insured_occupation           785 non-null    object
 10  insured_hobbies              785 non-null    object
 11  insured_relationship         785 non-null    object
 12  capital-gains                785 non-null    float64
 13  capital-loss                 785 non-null    float64
 14  incident_type                785 non-null    object
 15  collision_type               785 non-null    object
 16  incident_severity            785 non-null    object
 17  authorities_contacted        785 non-null    object
 18  incident_state               785 non-null    object
 19  incident_city                785 non-null    object
 20  incident_location            785 non-null    object
 21  incident_hour_of_the_day     785 non-null    int64
 22  number_of_vehicles_involved  785 non-null    int64
 23  property_damage              785 non-null    object
 24  bodily_injuries              785 non-null    int64
 25  witnesses                    785 non-null    int64
 26  police_report_available      785 non-null    object
 27  total_claim_amount           785 non-null    float64
 28  injury_claim                 785 non-null    float64
 29  property_claim               785 non-null    float64
 30  vehicle_claim                785 non-null    float64
 31  auto_make                    785 non-null    object
 32  auto_model                   785 non-null    object
 33  auto_year                    785 non-null    int64
 34  fraud_reported               785 non-null    int64
 35  months_with_policy           785 non-null    int64
 36  bind_year                    785 non-null    int32
 37  incident_month               785 non-null    int32
dtypes: float64(9), int32(2), int64(9), object(18)
memory usage: 233.0+ KB

In [33]:
df_outliers = df[~df.index.isin(df_clean.index)]  # the 218 dropped rows, possibly extreme/risky data
df_inliers = df_clean                             # main cleaned dataset

In [34]:
# Get counts
inlier_counts = df_inliers["fraud_reported"].value_counts()
outlier_counts = df_outliers["fraud_reported"].value_counts()

# Create a summary DataFrame
summary = pd.DataFrame({
    "Inliers Count": inlier_counts,
    "Outliers Count": outlier_counts
})

# Add class ratio (percentage)
summary["Inliers %"] = (summary["Inliers Count"] / summary["Inliers Count"].sum() * 100).round(2)
summary["Outliers %"] = (summary["Outliers Count"] / summary["Outliers Count"].sum() * 100).round(2)

summary.index = summary.index.map({0: "Not Fraud", 1: "Fraud"})

summary

                Inliers Count  Outliers Count  Inliers %  Outliers %
fraud_reported
Not Fraud                 602             150      76.69       70.09
Fraud                     183              64      23.31       29.91

Even though outliers have a slightly higher fraud rate (30%) than inliers (23%), both sets stay reasonably aligned.  
i.e. class ratios are reasonably balanced within each subset.  
Models trained separately wonâ€™t face imbalance issues (not introducing sampling bias by separating them)

### save cleaned data into inliers and outliers sets

In [35]:
df_inliers.to_csv("../data/processed_inliers.csv", index=False)
df_outliers.to_csv("../data/processed_outliers.csv", index=False)