In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("/Users/jennifercyc/Desktop/HSH/ML Project/fraud-detector/data/Worksheet in Case Study question 2.xlsx")
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N

In [10]:
df.info()
#91 NaNs in column "authorities_contacted"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 39 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_number                1000 non-null   int64
 3   policy_bind_date             1000 non-null   datetime64[ns]
 4   policy_state                 1000 non-null   object
 5   policy_csl                   1000 non-null   object
 6   policy_deductable            1000 non-null   int64
 7   policy_annual_premium        1000 non-null   float64
 8   umbrella_limit               1000 non-null   int64
 9   insured_zip                  1000 non-null   int64
 10  insured_sex                  1000 non-null   object
 11  insured_education_level      1000 non-null   object
 12  insured_occupation           1000 non-null   object
 13  insured_hobbies              1000 non-null   object
 14  insured_relationship         1000 non-null   object
 15  capital-gains                1000 non-null   int64
 16  capital-loss                 1000 non-null   int64
 17  incident_date                1000 non-null   datetime64[ns]
 18  incident_type                1000 non-null   object
 19  collision_type               1000 non-null   object
 20  incident_severity            1000 non-null   object
 21  authorities_contacted        909 non-null    object
 22  incident_state               1000 non-null   object
 23  incident_city                1000 non-null   object
 24  incident_location            1000 non-null   object
 25  incident_hour_of_the_day     1000 non-null   int64
 26  number_of_vehicles_involved  1000 non-null   int64
 27  property_damage              1000 non-null   object
 28  bodily_injuries              1000 non-null   int64
 29  witnesses                    1000 non-null   int64
 30  police_report_available      1000 non-null   object
 31  total_claim_amount           1000 non-null   int64
 32  injury_claim                 1000 non-null   int64
 33  property_claim               1000 non-null   int64
 34  vehicle_claim                1000 non-null   int64
 35  auto_make                    1000 non-null   object
 36  auto_model                   1000 non-null   object
 37  auto_year                    1000 non-null   int64
 38  fraud_reported               1000 non-null   object
dtypes: datetime64[ns](2), float64(1), int64(17), object(19)
memory usage: 304.8+ KB

In [41]:
for i in df.columns.tolist():
    print(f"{i}: {df[i].unique()[:10]}")

months_as_customer: [328 228 134 256 137 165  27 212 235 447]
age: [48 42 29 41 44 39 34 37 33 61]
policy_number: [521585 342868 687698 227811 367455 104594 413978 429027 485665 636550]
policy_bind_date: <DatetimeArray>
['2014-10-17 00:00:00', '2006-06-27 00:00:00', '2000-09-06 00:00:00',
 '1990-05-25 00:00:00', '2014-06-06 00:00:00', '2006-10-12 00:00:00',
 '2000-06-04 00:00:00', '1990-02-03 00:00:00', '1997-02-05 00:00:00',
 '2011-07-25 00:00:00']
Length: 10, dtype: datetime64[ns]
policy_state: ['OH' 'IN' 'IL']
policy_csl: ['250/500' '100/300' '500/1000']
policy_deductable: [1000 2000  500]
policy_annual_premium: [1406.91 1197.22 1413.14 1415.74 1583.91 1351.1  1333.35 1137.03 1442.99
 1315.68]
umbrella_limit: [       0  5000000  6000000  4000000  3000000  8000000  7000000  9000000
 10000000 -1000000]
insured_zip: [466132 468176 430632 608117 610706 478456 441716 603195 601734 600983]
insured_sex: ['MALE' 'FEMALE']
insured_education_level: ['MD' 'PhD' 'Associate' 'Masters' 'High School' 'College' 'JD']
insured_occupation: ['craft-repair' 'machine-op-inspct' 'sales' 'armed-forces' 'tech-support'
 'prof-specialty' 'other-service' 'priv-house-serv' 'exec-managerial'
 'protective-serv']
insured_hobbies: ['sleeping' 'reading' 'board-games' 'bungie-jumping' 'base-jumping' 'golf'
 'camping' 'dancing' 'skydiving' 'movies']
insured_relationship: ['husband' 'other-relative' 'own-child' 'unmarried' 'wife' 'not-in-family']
capital-gains: [53300     0 35100 48900 66000 38400 52800 41300 55700 63600]
capital-loss: [     0 -62400 -46000 -77000 -39300 -51000 -32800 -55500 -37800 -27300]
incident_date: <DatetimeArray>
['2015-01-25 00:00:00', '2015-01-21 00:00:00', '2015-02-22 00:00:00',
 '2015-01-10 00:00:00', '2015-02-17 00:00:00', '2015-01-02 00:00:00',
 '2015-01-13 00:00:00', '2015-02-27 00:00:00', '2015-01-30 00:00:00',
 '2015-01-05 00:00:00']
Length: 10, dtype: datetime64[ns]
incident_type: ['Single Vehicle Collision' 'Vehicle Theft' 'Multi-vehicle Collision'
 'Parked Car']
collision_type: ['Side Collision' '?' 'Rear Collision' 'Front Collision']
incident_severity: ['Major Damage' 'Minor Damage' 'Total Loss' 'Trivial Damage']
authorities_contacted: ['Police' nan 'Fire' 'Other' 'Ambulance']
incident_state: ['SC' 'VA' 'NY' 'OH' 'WV' 'NC' 'PA']
incident_city: ['Columbus' 'Riverwood' 'Arlington' 'Springfield' 'Hillsdale' 'Northbend'
 'Northbrook']
incident_location: ['9935 4th Drive' '6608 MLK Hwy' '7121 Francis Lane' '6956 Maple Drive'
 '3041 3rd Ave' '8973 Washington St' '5846 Weaver Drive' '3525 3rd Hwy'
 '4872 Rock Ridge' '3066 Francis Ave']
incident_hour_of_the_day: [ 5  8  7 20 19  0 23 21 14 22]
number_of_vehicles_involved: [1 3 4 2]
property_damage: ['YES' '?' 'NO']
bodily_injuries: [1 0 2]
witnesses: [2 0 3 1]
police_report_available: ['YES' '?' 'NO']
total_claim_amount: [71610  5070 34650 63400  6500 64100 78650 51590 27700 42300]
injury_claim: [ 6510   780  7700  6340  1300  6410 21450  9380  2770  4700]
property_claim: [13020   780  3850  6340   650  6410  7150  9380  2770  4700]
vehicle_claim: [52080  3510 23100 50720  4550 51280 50050 32830 22160 32900]
auto_make: ['Saab' 'Mercedes' 'Dodge' 'Chevrolet' 'Accura' 'Nissan' 'Audi' 'Toyota'
 'Ford' 'Suburu']
auto_model: ['92x' 'E400' 'RAM' 'Tahoe' 'RSX' 95 'Pathfinder' 'A5' 'Camry' 'F150']
auto_year: [2004 2007 2014 2009 2003 2012 2015 1996 2002 2006]
fraud_reported: ['Y' 'N']

In [44]:
for i in df.columns.tolist():
    print(f"{df[i].value_counts()}")

months_as_customer
194    8
128    7
254    7
140    7
210    7
      ..
390    1
411    1
453    1
448    1
17     1
Name: count, Length: 391, dtype: int64
age
43    49
39    48
41    45
34    44
38    42
30    42
31    42
37    41
33    39
40    38
32    38
29    35
46    33
42    32
35    32
36    32
44    32
28    30
26    26
45    26
48    25
47    24
27    24
57    16
25    14
55    14
49    14
53    13
50    13
24    10
54    10
61    10
51     9
60     9
58     8
56     8
23     7
21     6
59     5
62     4
52     4
64     2
63     2
19     1
20     1
22     1
Name: count, dtype: int64
policy_number
521585    1
687755    1
674485    1
223404    1
991480    1
         ..
563878    1
620855    1
583169    1
337677    1
556080    1
Name: count, Length: 1000, dtype: int64
policy_bind_date
2006-01-01    3
1992-04-28    3
1992-08-05    3
1991-12-14    2
2004-08-09    2
             ..
2014-06-03    1
1998-12-12    1
1999-02-18    1
1997-10-30    1
1996-11-11    1
Name: count, Length: 951, dtype: int64
policy_state
OH    352
IL    338
IN    310
Name: count, dtype: int64
policy_csl
250/500     351
100/300     349
500/1000    300
Name: count, dtype: int64
policy_deductable
1000    351
500     342
2000    307
Name: count, dtype: int64
policy_annual_premium
1558.29    2
1215.36    2
1362.87    2
1073.83    2
1389.13    2
          ..
1085.03    1
1437.33    1
988.29     1
1238.89    1
766.19     1
Name: count, Length: 991, dtype: int64
umbrella_limit
 0           798
 6000000      57
 5000000      46
 4000000      39
 7000000      29
 3000000      12
 8000000       8
 9000000       5
 2000000       3
 10000000      2
-1000000       1
Name: count, dtype: int64
insured_zip
477695    2
469429    2
446895    2
431202    2
456602    2
         ..
476303    1
450339    1
476502    1
600561    1
612260    1
Name: count, Length: 995, dtype: int64
insured_sex
FEMALE    537
MALE      463
Name: count, dtype: int64
insured_education_level
JD             161
High School    160
Associate      145
MD             144
Masters        143
PhD            125
College        122
Name: count, dtype: int64
insured_occupation
machine-op-inspct    93
prof-specialty       85
tech-support         78
sales                76
exec-managerial      76
craft-repair         74
transport-moving     72
other-service        71
priv-house-serv      71
armed-forces         69
adm-clerical         65
protective-serv      63
handlers-cleaners    54
farming-fishing      53
Name: count, dtype: int64
insured_hobbies
reading           64
exercise          57
paintball         57
bungie-jumping    56
movies            55
golf              55
camping           55
kayaking          54
yachting          53
hiking            52
video-games       50
skydiving         49
base-jumping      49
board-games       48
polo              47
chess             46
dancing           43
sleeping          41
cross-fit         35
basketball        34
Name: count, dtype: int64
insured_relationship
own-child         183
other-relative    177
not-in-family     174
husband           170
wife              155
unmarried         141
Name: count, dtype: int64
capital-gains
0        508
46300      5
51500      4
68500      4
55600      3
        ...
36700      1
54900      1
69200      1
48800      1
50300      1
Name: count, Length: 338, dtype: int64
capital-loss
 0        475
-31700      5
-53700      5
-50300      5
-45300      4
         ...
-12100      1
-17000      1
-72900      1
-19700      1
-82100      1
Name: count, Length: 354, dtype: int64
incident_date
2015-02-02    28
2015-02-17    26
2015-01-07    25
2015-01-10    24
2015-02-04    24
2015-01-24    24
2015-01-19    23
2015-01-08    22
2015-01-13    21
2015-01-30    21
2015-02-12    20
2015-02-22    20
2015-01-31    20
2015-02-06    20
2015-02-21    19
2015-01-01    19
2015-02-23    19
2015-01-12    19
2015-01-14    19
2015-01-21    19
2015-01-03    18
2015-02-14    18
2015-02-01    18
2015-02-28    18
2015-01-20    18
2015-01-18    18
2015-02-25    18
2015-01-06    17
2015-01-09    17
2015-02-08    17
2015-02-24    17
2015-02-26    17
2015-02-13    16
2015-02-15    16
2015-02-16    16
2015-02-05    16
2015-01-16    16
2015-01-17    15
2015-02-18    15
2015-01-28    15
2015-01-15    15
2015-01-22    14
2015-02-20    14
2015-02-27    14
2015-01-23    13
2015-02-03    13
2015-01-27    13
2015-02-09    13
2015-01-04    12
2015-03-01    12
2015-01-26    11
2015-01-29    11
2015-01-02    11
2015-02-19    10
2015-02-11    10
2015-02-10    10
2015-02-07    10
2015-01-25    10
2015-01-11     9
2015-01-05     7
Name: count, dtype: int64
incident_type
Multi-vehicle Collision     419
Single Vehicle Collision    403
Vehicle Theft                94
Parked Car                   84
Name: count, dtype: int64
collision_type
Rear Collision     292
Side Collision     276
Front Collision    254
?                  178
Name: count, dtype: int64
incident_severity
Minor Damage      354
Total Loss        280
Major Damage      276
Trivial Damage     90
Name: count, dtype: int64
authorities_contacted
Police       292
Fire         223
Other        198
Ambulance    196
Name: count, dtype: int64
incident_state
NY    262
SC    248
WV    217
VA    110
NC    110
PA     30
OH     23
Name: count, dtype: int64
incident_city
Springfield    157
Arlington      152
Columbus       149
Northbend      145
Hillsdale      141
Riverwood      134
Northbrook     122
Name: count, dtype: int64
incident_location
9935 4th Drive         1
4214 MLK Ridge         1
8548 Cherokee Ridge    1
2352 MLK Drive         1
9734 2nd Ridge         1
                      ..
6770 1st St            1
4119 Texas St          1
4347 2nd Ridge         1
1091 1st Drive         1
1416 Cherokee Ridge    1
Name: count, Length: 1000, dtype: int64
incident_hour_of_the_day
17    54
3     53
0     52
23    51
16    49
13    46
10    46
4     46
6     44
9     43
14    43
21    42
18    41
12    40
19    40
7     40
15    39
22    38
8     36
20    34
5     33
2     31
11    30
1     29
Name: count, dtype: int64
number_of_vehicles_involved
1    581
3    358
4     31
2     30
Name: count, dtype: int64
property_damage
?      360
NO     338
YES    302
Name: count, dtype: int64
bodily_injuries
0    340
2    332
1    328
Name: count, dtype: int64
witnesses
1    258
2    250
0    249
3    243
Name: count, dtype: int64
police_report_available
?      343
NO     343
YES    314
Name: count, dtype: int64
total_claim_amount
59400    5
2640     4
70400    4
4320     4
44200    4
        ..
65250    1
87100    1
6240     1
66600    1
67500    1
Name: count, Length: 763, dtype: int64
injury_claim
0        25
640       7
480       7
660       5
580       5
         ..
14840     1
6580      1
11820     1
16650     1
7500      1
Name: count, Length: 638, dtype: int64
property_claim
0        19
860       6
480       5
660       5
10000     5
         ..
3590      1
6480      1
4580      1
4920      1
7500      1
Name: count, Length: 626, dtype: int64
vehicle_claim
5040     7
3360     6
52080    5
4720     5
3600     5
        ..
43360    1
25130    1
38940    1
47430    1
52500    1
Name: count, Length: 726, dtype: int64
auto_make
Saab          80
Dodge         80
Suburu        80
Nissan        78
Chevrolet     76
Ford          72
BMW           72
Toyota        70
Audi          69
Accura        68
Volkswagen    68
Jeep          67
Mercedes      65
Honda         55
Name: count, dtype: int64
auto_model
RAM               43
Wrangler          42
A3                37
Neon              37
MDX               36
Jetta             35
Passat            33
A5                32
Legacy            32
Pathfinder        31
Malibu            30
92x               28
Camry             28
Forrestor         28
F150              27
95                27
E400              27
93                25
Grand Cherokee    25
Escape            24
Tahoe             24
Maxima            24
Ultima            23
X5                23
Highlander        22
Civic             22
Silverado         22
Fusion            21
ML350             20
Impreza           20
Corolla           20
TL                20
CRV               20
C300              18
3 Series          18
X6                16
M5                15
Accord            13
RSX               12
Name: count, dtype: int64
auto_year
1995    56
1999    55
2005    54
2006    53
2011    53
2007    52
2003    51
2009    50
2010    50
2013    49
2002    49
2015    47
1997    46
2012    46
2008    45
2014    44
2001    42
2000    42
1998    40
2004    39
1996    37
Name: count, dtype: int64
fraud_reported
N    753
Y    247
Name: count, dtype: int64

In [45]:
for i in df.columns.tolist():
    print(f"{i}: {df[i].describe(include='all')}")

months_as_customer: count    1000.000000
mean      203.954000
std       115.113174
min         0.000000
25%       115.750000
50%       199.500000
75%       276.250000
max       479.000000
Name: months_as_customer, dtype: float64
age: count    1000.000000
mean       38.948000
std         9.140287
min        19.000000
25%        32.000000
50%        38.000000
75%        44.000000
max        64.000000
Name: age, dtype: float64
policy_number: count      1000.000000
mean     546238.648000
std      257063.005276
min      100804.000000
25%      335980.250000
50%      533135.000000
75%      759099.750000
max      999435.000000
Name: policy_number, dtype: float64
policy_bind_date: count                             1000
mean     2002-02-08 04:40:47.999999872
min                1990-01-08 00:00:00
25%                1995-09-19 00:00:00
50%                2002-04-01 12:00:00
75%                2008-04-21 12:00:00
max                2015-02-22 00:00:00
Name: policy_bind_date, dtype: object
policy_state: count     1000
unique       3
top         OH
freq       352
Name: policy_state, dtype: object
policy_csl: count        1000
unique          3
top       250/500
freq          351
Name: policy_csl, dtype: object
policy_deductable: count    1000.000000
mean     1136.000000
std       611.864673
min       500.000000
25%       500.000000
50%      1000.000000
75%      2000.000000
max      2000.000000
Name: policy_deductable, dtype: float64
policy_annual_premium: count    1000.000000
mean     1256.406150
std       244.167395
min       433.330000
25%      1089.607500
50%      1257.200000
75%      1415.695000
max      2047.590000
Name: policy_annual_premium, dtype: float64
umbrella_limit: count    1.000000e+03
mean     1.101000e+06
std      2.297407e+06
min     -1.000000e+06
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.000000e+07
Name: umbrella_limit, dtype: float64
insured_zip: count      1000.000000
mean     501214.488000
std       71701.610941
min      430104.000000
25%      448404.500000
50%      466445.500000
75%      603251.000000
max      620962.000000
Name: insured_zip, dtype: float64
insured_sex: count       1000
unique         2
top       FEMALE
freq         537
Name: insured_sex, dtype: object
insured_education_level: count     1000
unique       7
top         JD
freq       161
Name: insured_education_level, dtype: object
insured_occupation: count                  1000
unique                   14
top       machine-op-inspct
freq                     93
Name: insured_occupation, dtype: object
insured_hobbies: count        1000
unique         20
top       reading
freq           64
Name: insured_hobbies, dtype: object
insured_relationship: count          1000
unique            6
top       own-child
freq            183
Name: insured_relationship, dtype: object
capital-gains: count      1000.000000
mean      25126.100000
std       27872.187708
min           0.000000
25%           0.000000
50%           0.000000
75%       51025.000000
max      100500.000000
Name: capital-gains, dtype: float64
capital-loss: count      1000.000000
mean     -26793.700000
std       28104.096686
min     -111100.000000
25%      -51500.000000
50%      -23250.000000
75%           0.000000
max           0.000000
Name: capital-loss, dtype: float64
incident_date: count                   1000
mean     2015-01-30 08:02:24
min      2015-01-01 00:00:00
25%      2015-01-15 00:00:00
50%      2015-01-31 00:00:00
75%      2015-02-15 00:00:00
max      2015-03-01 00:00:00
Name: incident_date, dtype: object
incident_type: count                        1000
unique                          4
top       Multi-vehicle Collision
freq                          419
Name: incident_type, dtype: object
collision_type: count               1000
unique                 4
top       Rear Collision
freq                 292
Name: collision_type, dtype: object
incident_severity: count             1000
unique               4
top       Minor Damage
freq               354
Name: incident_severity, dtype: object
authorities_contacted: count        909
unique         4
top       Police
freq         292
Name: authorities_contacted, dtype: object
incident_state: count     1000
unique       7
top         NY
freq       262
Name: incident_state, dtype: object
incident_city: count            1000
unique              7
top       Springfield
freq              157
Name: incident_city, dtype: object
incident_location: count               1000
unique              1000
top       9935 4th Drive
freq                   1
Name: incident_location, dtype: object
incident_hour_of_the_day: count    1000.000000
mean       11.644000
std         6.951373
min         0.000000
25%         6.000000
50%        12.000000
75%        17.000000
max        23.000000
Name: incident_hour_of_the_day, dtype: float64
number_of_vehicles_involved: count    1000.00000
mean        1.83900
std         1.01888
min         1.00000
25%         1.00000
50%         1.00000
75%         3.00000
max         4.00000
Name: number_of_vehicles_involved, dtype: float64
property_damage: count     1000
unique       3
top          ?
freq       360
Name: property_damage, dtype: object
bodily_injuries: count    1000.000000
mean        0.992000
std         0.820127
min         0.000000
25%         0.000000
50%         1.000000
75%         2.000000
max         2.000000
Name: bodily_injuries, dtype: float64
witnesses: count    1000.000000
mean        1.487000
std         1.111335
min         0.000000
25%         1.000000
50%         1.000000
75%         2.000000
max         3.000000
Name: witnesses, dtype: float64
police_report_available: count     1000
unique       3
top          ?
freq       343
Name: police_report_available, dtype: object
total_claim_amount: count      1000.00000
mean      52761.94000
std       26401.53319
min         100.00000
25%       41812.50000
50%       58055.00000
75%       70592.50000
max      114920.00000
Name: total_claim_amount, dtype: float64
injury_claim: count     1000.000000
mean      7433.420000
std       4880.951853
min          0.000000
25%       4295.000000
50%       6775.000000
75%      11305.000000
max      21450.000000
Name: injury_claim, dtype: float64
property_claim: count     1000.000000
mean      7399.570000
std       4824.726179
min          0.000000
25%       4445.000000
50%       6750.000000
75%      10885.000000
max      23670.000000
Name: property_claim, dtype: float64
vehicle_claim: count     1000.000000
mean     37928.950000
std      18886.252893
min         70.000000
25%      30292.500000
50%      42100.000000
75%      50822.500000
max      79560.000000
Name: vehicle_claim, dtype: float64
auto_make: count     1000
unique      14
top       Saab
freq        80
Name: auto_make, dtype: object
auto_model: count     1000
unique      39
top        RAM
freq        43
Name: auto_model, dtype: object
auto_year: count    1000.000000
mean     2005.103000
std         6.015861
min      1995.000000
25%      2000.000000
50%      2005.000000
75%      2010.000000
max      2015.000000
Name: auto_year, dtype: float64
fraud_reported: count     1000
unique       2
top          N
freq       753
Name: fraud_reported, dtype: object

In [64]:
# identify categorial or free-text columns

unique_counts = df.select_dtypes(include=['object']).nunique()
unique_counts

policy_state                  3
policy_csl                    3
insured_sex                   2
insured_education_level       7
insured_occupation           14
insured_hobbies              20
insured_relationship          6
incident_type                 4
collision_type                4
incident_severity             4
authorities_contacted         4
incident_state                7
incident_city                 7
incident_location          1000
property_damage               3
police_report_available       3
auto_make                    14
auto_model                   39
fraud_reported                2
dtype: int64

## Data Cleaning - "Object" columns

### inspect for empty spaces or inconsistent capitalisation

In [68]:
for i in df.select_dtypes(include=['object']):
    print(f"{i}: {df[i].unique()[:39]}")

policy_state: ['OH' 'IN' 'IL']
policy_csl: ['250/500' '100/300' '500/1000']
insured_sex: ['MALE' 'FEMALE']
insured_education_level: ['MD' 'PhD' 'Associate' 'Masters' 'High School' 'College' 'JD']
insured_occupation: ['craft-repair' 'machine-op-inspct' 'sales' 'armed-forces' 'tech-support'
 'prof-specialty' 'other-service' 'priv-house-serv' 'exec-managerial'
 'protective-serv' 'transport-moving' 'handlers-cleaners' 'adm-clerical'
 'farming-fishing']
insured_hobbies: ['sleeping' 'reading' 'board-games' 'bungie-jumping' 'base-jumping' 'golf'
 'camping' 'dancing' 'skydiving' 'movies' 'hiking' 'yachting' 'paintball'
 'chess' 'kayaking' 'polo' 'basketball' 'video-games' 'cross-fit'
 'exercise']
insured_relationship: ['husband' 'other-relative' 'own-child' 'unmarried' 'wife' 'not-in-family']
incident_type: ['Single Vehicle Collision' 'Vehicle Theft' 'Multi-vehicle Collision'
 'Parked Car']
collision_type: ['Side Collision' '?' 'Rear Collision' 'Front Collision']
incident_severity: ['Major Damage' 'Minor Damage' 'Total Loss' 'Trivial Damage']
authorities_contacted: ['Police' nan 'Fire' 'Other' 'Ambulance']
incident_state: ['SC' 'VA' 'NY' 'OH' 'WV' 'NC' 'PA']
incident_city: ['Columbus' 'Riverwood' 'Arlington' 'Springfield' 'Hillsdale' 'Northbend'
 'Northbrook']
incident_location: ['9935 4th Drive' '6608 MLK Hwy' '7121 Francis Lane' '6956 Maple Drive'
 '3041 3rd Ave' '8973 Washington St' '5846 Weaver Drive' '3525 3rd Hwy'
 '4872 Rock Ridge' '3066 Francis Ave' '1558 1st Ridge' '5971 5th Hwy'
 '6655 5th Drive' '6582 Elm Lane' '6851 3rd Drive' '9573 Weaver Ave'
 '5074 3rd St' '4546 Tree St' '3842 Solo Ridge' '8101 3rd Ridge'
 '5380 Pine St' '8957 Weaver Drive' '2526 Embaracadero Ave'
 '5667 4th Drive' '2502 Apache Hwy' '3418 Texas Lane' '2533 Elm St'
 '3790 Andromedia Hwy' '3220 Rock Drive' '2100 Francis Drive'
 '4687 5th Drive' '9038 2nd Lane' '6092 5th Ave' '8353 Britain Ridge'
 '3540 Maple St' '3104 Sky Drive' '4981 Weaver St' '6676 Tree Lane'
 '3930 Embaracadero St']
property_damage: ['YES' '?' 'NO']
police_report_available: ['YES' '?' 'NO']
auto_make: ['Saab' 'Mercedes' 'Dodge' 'Chevrolet' 'Accura' 'Nissan' 'Audi' 'Toyota'
 'Ford' 'Suburu' 'BMW' 'Jeep' 'Honda' 'Volkswagen']
auto_model: ['92x' 'E400' 'RAM' 'Tahoe' 'RSX' 95 'Pathfinder' 'A5' 'Camry' 'F150' 'A3'
 'Highlander' 'Neon' 'MDX' 'Maxima' 'Legacy' 'TL' 'Impreza' 'Forrestor'
 'Escape' 'Corolla' '3 Series' 'C300' 'Wrangler' 'M5' 'X5' 'Civic'
 'Passat' 'Silverado' 'CRV' 93 'Accord' 'X6' 'Malibu' 'Fusion' 'Jetta'
 'ML350' 'Ultima' 'Grand Cherokee']
fraud_reported: ['Y' 'N']

### handling missing values

In [69]:
df.select_dtypes(include=['object']).isna().sum()

policy_state                0
policy_csl                  0
insured_sex                 0
insured_education_level     0
insured_occupation          0
insured_hobbies             0
insured_relationship        0
incident_type               0
collision_type              0
incident_severity           0
authorities_contacted      91
incident_state              0
incident_city               0
incident_location           0
property_damage             0
police_report_available     0
auto_make                   0
auto_model                  0
fraud_reported              0
dtype: int64

In [70]:
df['authorities_contacted'] = df['authorities_contacted'].fillna('Unknown')

In [78]:
# Replace "?" with "Unknown" in categorical columns

df['collision_type'] = df['collision_type'].replace('?', 'Unknown')
df['property_damage'] = df['property_damage'].replace('?', 'Unknown')
df['police_report_available'] = df['police_report_available'].replace('?', 'Unknown')

## Data Cleaning - "Datetime" columns

In [85]:
# Check for invalid dates (NaT) in datetime columns

invalid_policy_dates = df[df['policy_bind_date'].isna()]
invalid_policy_dates

Empty DataFrame
Columns: [months_as_customer, age, policy_number, policy_bind_date, policy_state, policy_csl, policy_deductable, policy_annual_premium, umbrella_limit, insured_zip, insured_sex, insured_education_level, insured_occupation, insured_hobbies, insured_relationship, capital-gains, capital-loss, incident_date, incident_type, collision_type, incident_severity, authorities_contacted, incident_state, incident_city, incident_location, incident_hour_of_the_day, number_of_vehicles_involved, property_damage, bodily_injuries, witnesses, police_report_available, total_claim_amount, injury_claim, property_claim, vehicle_claim, auto_make, auto_model, auto_year, fraud_reported]
Index: []

[0 rows x 39 columns]

In [86]:
# Check for invalid dates (NaT) in datetime columns

invalid_incident_dates = df[df['incident_date'].isna()]
invalid_incident_dates

Empty DataFrame
Columns: [months_as_customer, age, policy_number, policy_bind_date, policy_state, policy_csl, policy_deductable, policy_annual_premium, umbrella_limit, insured_zip, insured_sex, insured_education_level, insured_occupation, insured_hobbies, insured_relationship, capital-gains, capital-loss, incident_date, incident_type, collision_type, incident_severity, authorities_contacted, incident_state, incident_city, incident_location, incident_hour_of_the_day, number_of_vehicles_involved, property_damage, bodily_injuries, witnesses, police_report_available, total_claim_amount, injury_claim, property_claim, vehicle_claim, auto_make, auto_model, auto_year, fraud_reported]
Index: []

[0 rows x 39 columns]

## Data Cleaning - numerical columns

### retype the columns based on their nature

In [90]:
df['policy_number'] = df['policy_number'].astype(str)
df['insured_zip'] = df['insured_zip'].astype(str)

df['policy_deductable'] = df['policy_deductable'].astype(float)
df['umbrella_limit'] = df['umbrella_limit'].astype(float)
df['capital-gains'] = df['capital-gains'].astype(float)
df['capital-loss'] = df['capital-loss'].astype(float)
df['total_claim_amount'] = df['total_claim_amount'].astype(float)
df['injury_claim'] = df['injury_claim'].astype(float)
df['property_claim'] = df['property_claim'].astype(float)
df['vehicle_claim'] = df['vehicle_claim'].astype(float)

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 39 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_number                1000 non-null   object
 3   policy_bind_date             1000 non-null   datetime64[ns]
 4   policy_state                 1000 non-null   object
 5   policy_csl                   1000 non-null   object
 6   policy_deductable            1000 non-null   float64
 7   policy_annual_premium        1000 non-null   float64
 8   umbrella_limit               1000 non-null   float64
 9   insured_zip                  1000 non-null   object
 10  insured_sex                  1000 non-null   object
 11  insured_education_level      1000 non-null   object
 12  insured_occupation           1000 non-null   object
 13  insured_hobbies              1000 non-null   object
 14  insured_relationship         1000 non-null   object
 15  capital-gains                1000 non-null   float64
 16  capital-loss                 1000 non-null   float64
 17  incident_date                1000 non-null   datetime64[ns]
 18  incident_type                1000 non-null   object
 19  collision_type               1000 non-null   object
 20  incident_severity            1000 non-null   object
 21  authorities_contacted        1000 non-null   object
 22  incident_state               1000 non-null   object
 23  incident_city                1000 non-null   object
 24  incident_location            1000 non-null   object
 25  incident_hour_of_the_day     1000 non-null   int64
 26  number_of_vehicles_involved  1000 non-null   int64
 27  property_damage              1000 non-null   object
 28  bodily_injuries              1000 non-null   int64
 29  witnesses                    1000 non-null   int64
 30  police_report_available      1000 non-null   object
 31  total_claim_amount           1000 non-null   float64
 32  injury_claim                 1000 non-null   float64
 33  property_claim               1000 non-null   float64
 34  vehicle_claim                1000 non-null   float64
 35  auto_make                    1000 non-null   object
 36  auto_model                   1000 non-null   object
 37  auto_year                    1000 non-null   int64
 38  fraud_reported               1000 non-null   object
dtypes: datetime64[ns](2), float64(9), int64(7), object(21)
memory usage: 304.8+ KB

### handling outliers and invalid values