In [6]:
import sys
import os
sys.path.insert(0, '/Users/jennifercyc/Desktop/HSH/ML Project/fraud-detector/src')
from inference import predict_new_data

import pandas as pd

In [7]:
input_file = "Worksheet in Case Study question 2.xlsx"

In [8]:
results = predict_new_data(input_file)

✅ Predictions saved to: /Users/jennifercyc/Desktop/HSH/ML Project/fraud-detector/data/predictions.csv

In [9]:
results[['fraud_predicted']].value_counts()

fraud_predicted
0                  752
1                  247
Name: count, dtype: int64

In [10]:
pd.read_csv("/Users/jennifercyc/Desktop/HSH/ML Project/fraud-detector/data/predictions.csv").head()

,months_as_customer,age,policy_number,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,...,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,months_with_policy,incident_month,bind_year,fraud_predicted
0,328,48,521585,oh,250/500,1000.0,1406.91,0.0,male,md,...,13020.0,52080.0,saab,92x,2004,1,3,1,2014,1
1,228,42,342868,in,250/500,2000.0,1197.22,5000000.0,male,md,...,780.0,3510.0,mercedes,e400,2007,1,104,1,2006,1
2,176,29,687698,oh,100/300,2000.0,1413.14,5000000.0,female,phd,...,3850.0,23100.0,dodge,ram,2007,0,176,2,2000,0
3,299,41,227811,il,250/500,2000.0,1415.74,6000000.0,female,phd,...,6340.0,50720.0,chevrolet,tahoe,2014,1,299,1,1990,1
4,228,44,367455,il,500/1000,1000.0,1583.91,6000000.0,male,associate,...,650.0,4550.0,accura,rsx,2009,0,8,2,2014,0